/* Stylesheet */

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

nav {
    padding: 8px;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: baseline;
    gap: 16px;
    padding: 10px 170px 0px;
    flex-wrap: wrap;
    margin: 0;
}



ul a {
    text-decoration: none;
    color: white;
}




li.logo {
    margin-right: auto;
    font-weight: bold;
}



.container {
    background-color: rgba(0, 0, 20, 0.966);
    margin-bottom: 60px;
    padding-bottom: 60px;
}



.content {
    display: flex;
    padding: 0 170px;
    flex-flow: row wrap;
}



article {
    margin-right: auto;
    align-items: baseline;
    display: flex;
    flex-flow: column wrap ;
}



h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 32px;
    padding-bottom: 0px;
    margin-bottom: -5px;
    width: 400px;
    height: fit-content;
    text-align: center;
}


p {
    color: white;
    width: 500px;
    line-height: 1.4;
    height: fit-content;
}



img.one {
    width: 450px;
    height: 250px;
}


button {
    background: rgb(15, 172, 235);
    padding: 10px 12px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    border: 0px;
}



h1.text {
    text-align: center;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    color: black;
    margin: 10px 0px;
    padding: 10px 0px;
}

.flex-container {
    display: flex;
    gap: 9px;
    padding: 10px 100px ;
    margin: 10px 0px 80px;
    justify-content: center;
    flex-wrap: wrap;
}

div.info {
    justify-content: center;
}

div.text {
    text-align: center;
}

div a {
    text-decoration: none;
    color: white;
}

div img {
    width: 200px;
    height: 200px;
}


h1.text {
    text-align: center;
}

div.humanity {
    display: flex;
    padding: 70px 10px;
    background-color: lavender;
    flex-direction: column;
    align-items: center;
}

div.quote {
    text-align: justify;
    font-size: 25px;
    width: 600px;
    height: fit-content;
    margin: auto;
}

div.author {
    text-align: right;
    font-size: 25px;
    font-weight: bolder;
    padding-left: 410px ;
}

div.action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    background-color: #3882f6;
    margin: 100px 20%;
    border-radius: 16px;
    border-radius: 8px;
}

div.call {
    align-items: baseline;
    line-height: 20px;
}

div.time{
    font-weight: 900;
    color: white;
    flex-grow: 1;
}

div.decision {
    color: white;
}

button.button {
    margin-left: auto;
    background-color: inherit;
    border: 2px solid white;
    padding: 8px 25px;
}

.footer {
    background-color: rgba(0, 0, 20, 0.966);
    padding: 20px 0px;
    display: flex;
    justify-content: center;
}

p.rights {
    text-align: center;
}
