html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: #367277;
}

nav {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid #fff;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 32px;
  width: 1300px;
  margin: 14px 10px;
}

ul a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

ul .home{
  margin-right: auto;
}

ul .donate a {
  background-color: rgb(39, 241, 39);
  padding: 12px 20px;
  border-radius: 8px;
}

img {
  width: 1450px;
  height: 450px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: auto;
  align-items: center;
}


h1 {
  color: aqua;
}

p {
  color: #fff;
  text-align: justify;
  line-height: 1.4;
}


section {
  display: flex;
   flex-wrap: wrap;
}

article {
  flex: 1 100px;
  padding: 10px;
  margin: 10px;
  background-color: inherit;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.statement {
 color: #fff;
  text-align: center;
}

h2, h3 {
  text-align: center;
  color: aqua;
}


.team {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: aqua;
  margin: 40px 0 12px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* Four columns side by side */
.column {
  margin-bottom: 16px;
  padding: 0 8px;
  flex: 1 200px;
}


/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  width: auto;
  height: 200px;
}

/* Some left and right padding inside the container */
.person {
  padding: 0 16px;
}

.title {
  color: rgb(13, 182, 224);
  text-align: center;
}

.person a{
  color: pink;
}

.person a:hover {
  color: green;
}


.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
