
html{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #367277;
    margin: 0;
}

  
  .menu-container {
    color: #fff;
    background-color: #367277; 
    padding: 20px 0;
    display: flex;
    justify-content: flex-start;
  }
  
  .menu {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
  }


  .links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }

  .menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }

  .links a.donate {
    background-color: rgb(66, 221, 35);
    padding: 12px 20px;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    border: 2px solid white;
  }


  .header-container {
    color:#f2f6fa;
    background-color: rgb(83, 231, 54);
    display: flex;
    justify-content: center;
  }

  .header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .info {
    width: 400px;
    font-weight: bold;
    text-align: justify;
    font-size: large;
    line-height: 1.4;
  }


  .header a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid white;
    padding: 12px 20px;
    background-color: yellow;
  }


  .header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: width 2s, height 2s ;
  }

  .header img:hover {
    width: 300px;
    height: 300px;
  }

    .our-services,
    .recent-activities {
        color: #fff;
        text-align: center;
        font-weight: 900;
        font-size: 30px;
        margin: 0;
        word-spacing: 20px;
        letter-spacing: 10px;
        text-shadow: 0 0 5px blue, 0 0 5px darkblue;
    }

    .our-services {
        background-color: rgb(83, 231, 54);
    }


  .photo-grid-container,
  .activity-container {
    display: flex;
    justify-content: center;
    margin: 0; 
  }

  
  .photo-grid,
  .activity-group {
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 32px 0;
    gap: 16px;
  }
  
  .photo-grid-item,
  .activity {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #5995DA;
    border-radius: 10px 10px 0 0;
  }

  .photo-grid img,
  .activity-container img {
    width: 300px;
    height: 200px;
    border-radius: 10px 10px 0 0;
  }

  .photo-grid-item .services,
  .activity-type {
    font-weight: 900;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
  }

  .photo-grid-item a,
  .activity-container a {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        border-radius: 10px;
        border: 2px solid white;
        padding: 12px 20px;
        background-color: #367277;
  }



.know-more {
  background-color: #5995DA;
  display: flex;
  align-items: center;
  gap: 280px;
  margin: 40px 0;
}

.know-more .info-type {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  margin-left: 100px;
}

 
  .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .footer-item {
    border: 1px solid #fff;
    background-color:rgb(66, 221, 35);
    height: 50px;
    flex: 1;
    text-align: center;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-one,
  .footer-three {
  background-color: rgb(247, 247, 36);
  flex: initial;
  width: 300px;
}

